<div class="feature-box">
  <h1> <%= @discount.name %> Discount Edit Page</h1><br>
  <%= render partial: "form", locals: {path: "/merchants/#{@discount.merchant.id}/discounts/#{@discount.id}/edit", method: :post, label: "Submit",} %>
  <br>
    <div class="link-to">
      <%= button_to "Discounts Index", "/merchants/#{@discount.merchant.id}/discounts", method: :get %>
    </div>
</div>
