<div class="feature-box">

  <h1>Discount Show Page</h1>
    <p><%= @discount.name %></p><br>
    <p>Quantity Needed: <%= @discount.threshold %> items </p><br>
    <p>Percent Discounted: <%= @discount.percent %>%<br>
</div>
